body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.button{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(47, 47, 237);
    color: aliceblue;
    margin-top: 20px;

}

.button:hover{
    cursor: pointer;
     background-color: rgb(30, 30, 200);
    transform: scale(1.05);
}

#box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin-top: 20px;
}